body {
  margin: 0;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
}

@keyframes slide {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.slide {
  animation: slide;
  animation-duration: 0.3s;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.p-4 {
  padding: 16px;
}

.p-2 {
  padding: 8px;
}

.ml-2 {
  margin-left: 8px;
}

button {
  border: none;
  background-color: #222;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}

input {
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  border-radius: 5px;
  min-width: 300px;
  font-size: 1.1rem;
}

input:active,
input:focus {
  outline: 0px;
}

.back {
  /* color: #222;
  background-color: transparent; */
  margin: 10px;
}

.header {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.pokemon {
  box-shadow: 0px 0px 10px 0px rgba(125, 125, 125, 0.5);
  border-radius: 10px;
  min-width: 30%;
  display: flex;
  max-width: 420px;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.pokemon-avatar {
  background-color: #fff;
  border-radius: 50%;
  width: fit-content;
}

.pokemon-avatar img {
  width: 200px;
}

.pokemon-column {
  width: 50%;
  position: relative;
  padding: 10px;
}

.pokemon-name {
  text-transform: capitalize;
}

.pokemon-attacks {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.pokemon-attack {
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  padding-left: 20px;
  position: relative;
}

.pokemon-action {
  margin-top: 65px;
}

.pokemon-img {
  filter: grayscale(70%);
  transition: 0.3s all ease;
  max-width: 150px;
}

.pokeball-img {
  opacity: 0.1;
  position: absolute;
  height: 90%;
}

.pokemon:hover .pokemon-img {
  transform: translateY(-10px);
  filter: grayscale(0%);
}

@media screen and (max-width: 576px) {
  .pokemon {
    width: 95%;
  }
}
